#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}
/* styles.css */
.mySwiper {
  box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur totale */
}

.swiper-slide {
  background: #fff;
  /* Center slide text vertically */
}

.swiper-slide img {
}
.mySwiper2 {
  padding-left: 20px;
  display: flex;
}
#second-slider {
  background-color: red;
}
